html, body {
    margin: 0;
    padding: 10px;
    height: 100%;

}
.nav-items{
    list-style: none;
    display: flex;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items > li {
    padding: 10px;
}

.nav-logo{
    width: 40px;
}
/* Style the footer */
.footer {
    background-color: rgb(103, 96, 96);
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}