html, body {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body expands to at least the height of the viewport */
    margin: 0;

}
.nav-items{
    list-style: none;
    display: flex;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items > li {
    padding: 10px;
}

.nav-logo{
    width: 40px;
}
.footer{

    background-color: rgb(103, 96, 96);
    color: white; /* Optionally, set text color */
    padding: 20px; /* Adjust padding as needed */
    text-align: center; /* Center the content horizontally */
    align-self: flex-end; /* Align the footer to the bottom */

}