* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

nav > h3, nav > h4 {
  margin: 0;
}

nav > h3 {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

nav > h4 {
  color: #DEEBF8;
  font-weight: 600;
}

nav > img {
  height: 30px;
  margin-right: 7px;
}