.vertical-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.vertical-form label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.vertical-form input {
    padding: 5px;
    margin-top: 5px;
}
